*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
ul{
    list-style-type: none;
    margin:0;
    padding:0;
    overflow: hidden;
    background-color: white;
    padding-right: 50px;
}
li{
    float:right;
}
li a{
    display: block;
    color: teal;
    text-align: center;
    padding:14px 16px;
    text-decoration: none;

}
li a:hover{
    background-color: #111;
    color: white;
}
#logo{
    float: left;
    padding: 10px 50px;
}
.container{
    background: url(./appcopy.jpg)no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 90vh;
    
}
.container{
    text-align:center;
    padding-top: 100px;
    font-size: 4.3rem;
    color: rgb(31,63,105);
    font-family: Arial, Helvetica, sans-serif;
}
#para{
    width: 100%;
    height: 55vh;
    display: flex;
    margin-top: 50px;
    justify-content: center;
}
#para-1{
    width: 40%;
    height: 55vh;
    float: left;
    font-size: 1.3rem;
}
#para-2{
    width: 40%;
    height: 55vh;
    font-size: 1.3rem;
    color:grey;
    margin-left: 50px;
}
#feature{
    width:100%;
    height: 55vh;
    text-align: center;
    justify-content: center;
}
#finside{
    width:100%;
    height: 55vh;
    text-align: center;
    justify-content: center;
    display: flex;
}
#f1{
    width: 25%;
    height: 45vh;
    margin: 20px 15px;
    text-align: center;
    color:white;
    padding: 25px 20px;
    background-color: rgb(31,63,105);
}
#f1 h2{
    padding-bottom: 15px;
}
#icon{
    width: 70px;
    height: 70px;
    margin: auto;
    border-radius: 50%;
    background-color: tomato;
    color:white;
    padding: 20px;
    font-size: 30px;
    margin-bottom: 25px;
}
#video{

    width: 100%;
    height: 80vh;
}
#video img{

    width: 100%;
    height: 80vh;
}
#work{
    width: 100%;
    height: 40vh;
    display: flex;
    margin-top: 50px;
    justify-content: center;
}
#chal{
    width: 37%;
    height: 60vh;
    float: left;
}
#sol{
    width: 37%;
    height: 60vh;
    float: right;
    margin-left: 50px;
}
#more{
    width: 100%;
    height: 50vh;
    text-align: center;
    justify-content: center;
}
#sec{
    width: 100%;
    height: 50vh;
    text-align: center;
    display: flex;
    justify-content: center;
}
#m1{
    width: 25%;
    height: 40vh;
    margin: 0 15px;
    text-align: center;
    padding: 30px  5px;
}
#m1 .fas,.fab{
    font-size: 50px;
    color: rgb(248,40,137);
    padding-bottom: 20px;
}
#blog{
    width: 100%;
    height: 90vh;
    text-align: center;
    justify-content: center;
}
#post{
    width: 100%;
    height: 55vh;
    text-align: center;
    justify-content: center;
    display: flex;
}
#post1{
    width: 25%;
    height: 40vh;
    margin: 0 15px;
    padding: 30px 5px;
}
#post1 img{
width: 95%;
height: 30vh;
margin-bottom: 10px;
}
.btn{
    width: 15%;
    height: 40px;
    background-color: rgb(31,63,105);
    color:white;
    outline: none;
    border:none;
    border-radius: 60px;
    font-weight: bold;
    margin-top: 25px;
}
#contact{
    width: 60%;
    height: 70vh;
    margin:auto;
}
#contact h1{
    text-align: center;
}
#inp1{
    width: 45%;
    height: 10vh;
    float: left;
    margin-top: 30px;

}
#inp2{
    width: 45%;
    height: 10vh;
    float: right;
    margin-top: 30px;

}
#inp1 input{
    width:100%;
    height: 40px;
    padding: 10px;
}
#inp2 input{
    width:100%;
    height: 40px;
    padding: 10px;
}
textarea{
    width: 100%;
    margin-top: 20px;
    padding: 12px;
}
.btn1{
    width: 20%;
    height: 40px;
    background-color: rgb(31,63,105);
    color:white;
    outline: none;
    border: none;
    border-radius: 60px;
    margin-right: 20px;
    font-weight: bold;

}





@media only screen and (max-width:1199px){
    ul{
        list-style-type: none;
        margin:0;
        padding:0;
        overflow: hidden;
        background-color: white;
        padding-right: 50px;
    }
    li{
        float:right;
    }
    li a{
        display: block;
        color: teal;
        text-align: center;
        padding:14px 16px;
        text-decoration: none;
    
    }
    li a:hover{
        background-color: #111;
        color: white;
    }
    #logo{
        float: left;
        padding: 10px 50px;
    }
    .container{
        background: url(./appcopy.jpg)no-repeat;
        background-size: 100% 100%;
        width: 100%;
        height: 90vh;
        
    }
    .container{
        text-align:center;
        padding-top: 100px;
        font-size: 4.3rem;
        color: rgb(31,63,105);
        font-family: Arial, Helvetica, sans-serif;
    }
    #para{
        width: 100%;
        height: 65vh;
        display: flex;
        margin-top: 50px;
        justify-content: center;
    }
    #para-1{
        width: 40%;
        height: 65vh;
        float: left;
        font-size: 1.3rem;
    }
    #para-2{
        width: 40%;
        height: 65vh;
        font-size: 1.3rem;
        color:grey;
        margin-left: 50px;
    }
    #feature{
        width:100%;
        height: 55vh;
        text-align: center;
        justify-content: center;
    }
    #finside{
        width:100%;
        height: 80vh;
        text-align: center;
        justify-content: center;
        display: flex;
    }
    #f1{
        width: 25%;
        height: 60vh;
        margin: 20px 15px;
        text-align: center;
        color:white;
        padding: 25px 20px;
        background-color: rgb(31,63,105);
    }
    #f1 h2{
        padding-bottom: 15px;
    }
    #icon{
        width: 70px;
        height: 70px;
        margin: auto;
        border-radius: 50%;
        background-color: tomato;
        color:white;
        padding: 20px;
        font-size: 30px;
        margin-bottom: 25px;
    }
    #video{
    
        width: 100%;
        height: 80vh;
    }
    #video img{
    
        width: 100%;
        height: 80vh;
    }
    #work{
        width: 100%;
        height: 55vh;
        display: flex;
        margin-top: 50px;
        justify-content: center;
    }
    #chal{
        width: 37%;
        height: 60vh;
        float: left;
    }
    #sol{
        width: 37%;
        height: 60vh;
        float: right;
        margin-left: 50px;
    }
    #more{
        width: 100%;
        height: 50vh;
        text-align: center;
        justify-content: center;
    }
    #sec{
        width: 100%;
        height: 50vh;
        text-align: center;
        display: flex;
        justify-content: center;
    }
    #m1{
        width: 25%;
        height: 40vh;
        margin: 0 15px;
        text-align: center;
        padding: 30px  5px;
    }
    #m1 .fas,.fab{
        font-size: 50px;
        color: rgb(248,40,137);
        padding-bottom: 20px;
    }
    #blog{
        width: 100%;
        height: 90vh;
        text-align: center;
        justify-content: center;
    }
    #post{
        width: 100%;
        height: 55vh;
        text-align: center;
        justify-content: center;
        display: flex;
    }
    #post1{
        width: 25%;
        height: 40vh;
        margin: 0 15px;
        padding: 30px 5px;
    }
    #post1 img{
    width: 95%;
    height: 30vh;
    margin-bottom: 10px;
    }
    .btn{
        width: 15%;
        height: 40px;
        background-color: rgb(31,63,105);
        color:white;
        outline: none;
        border:none;
        border-radius: 60px;
        font-weight: bold;
        margin-top: 25px;
    }
    #contact{
        width: 60%;
        height: 70vh;
        margin:auto;
    }
    #contact h1{
        text-align: center;
    }
    #inp1{
        width: 45%;
        height: 10vh;
        float: left;
        margin-top: 30px;
    
    }
    #inp2{
        width: 45%;
        height: 10vh;
        float: right;
        margin-top: 30px;
    
    }
    #inp1 input{
        width:100%;
        height: 40px;
        padding: 10px;
    }
    #inp2 input{
        width:100%;
        height: 40px;
        padding: 10px;
    }
    textarea{
        width: 100%;
        margin-top: 20px;
        padding: 12px;
    }
    .btn1{
        width: 20%;
        height: 40px;
        background-color: rgb(31,63,105);
        color:white;
        outline: none;
        border: none;
        border-radius: 60px;
        margin-right: 20px;
        font-weight: bold;
    
    }

}


@media only screen and (max-width:960px){
    ul{
        list-style-type: none;
        margin:0;
        padding:0;
        overflow: hidden;
        background-color: white;
        padding-right: 50px;
    }
    li{
        float:right;
    }
    li a{
        display: block;
        color: teal;
        text-align: center;
        padding:14px 16px;
        text-decoration: none;
    
    }
    li a:hover{
        background-color: #111;
        color: white;
    }
    #logo{
        float: left;
        padding: 10px 50px;
    }
    .container{
        background: url(./appcopy.jpg)no-repeat;
        background-size: 100% 100%;
        width: 100%;
        height: 100vh;
        
    }
    .container{
        text-align:center;
        padding-top: 100px;
        font-size: 3.3rem;
        color: rgb(31,63,105);
        font-family: Arial, Helvetica, sans-serif;
    }
    #para{
        width: 100%;
        height: 75vh;
        display: flex;
        margin-top: 50px;
        justify-content: center;
    }
    #para-1{
        width: 40%;
        height: 55vh;
        float: left;
        font-size: 1.3rem;
    }
    #para-2{
        width: 40%;
        height: 55vh;
        font-size: 1.3rem;
        color:grey;
        margin-left: 50px;
    }
    #feature{
        width:100%;
        height: 75vh;
        text-align: center;
        justify-content: center;
    }
    #finside{
        width:100%;
        height: 75vh;
        text-align: center;
        justify-content: center;
        display: flex;
    }
    #f1{
        width: 25%;
        height: 55vh;
        margin: 20px 15px;
        text-align: center;
        color:white;
        padding: 25px 20px;
        background-color: rgb(31,63,105);
    }
    #f1 h2{
        padding-bottom: 15px;
    }
    #icon{
        width: 70px;
        height: 70px;
        margin: auto;
        border-radius: 50%;
        background-color: tomato;
        color:white;
        padding: 20px;
        font-size: 30px;
        margin-bottom: 25px;
    }
    #video{
    
        width: 100%;
        height: 80vh;
    }
    #video img{
    
        width: 100%;
        height: 80vh;
    }
    #work{
        width: 100%;
        height: 60vh;
        display: flex;
        margin-top: 50px;
        justify-content: center;
    }
    #chal{
        width: 40%;
        height: 60vh;
        float: left;
    }
    #sol{
        width: 40%;
        height: 60vh;
        float: right;
        margin-left: 50px;
    }
    #more{
        width: 100%;
        height: 60vh;
        text-align: center;
        justify-content: center;
    }
    #sec{
        width: 100%;
        height: 60vh;
        text-align: center;
        display: flex;
        justify-content: center;
    }
    #m1{
        width: 30%;
        height: 40vh;
        text-align: center;
        padding: 30px  5px;
    }
    #m1 .fas,.fab{
        font-size: 50px;
        color: rgb(248,40,137);
        padding-bottom: 20px;
    }
    #blog{
        width: 100%;
        height: 90vh;
        text-align: center;
        justify-content: center;
    }
    #post{
        width: 100%;
        height: 60vh;
        text-align: center;
        justify-content: center;
        display: flex;
    }
    #post1{
        width: 25%;
        height: 40vh;
        padding: 30px 5px;
    }
    #post1 img{
    width: 100%;
    height: 30vh;
    margin-bottom: 10px;
    }
    .btn{
        width: 15%;
        height: 40px;
        background-color: rgb(31,63,105);
        color:white;
        outline: none;
        border:none;
        border-radius: 60px;
        font-weight: bold;
        margin-top: 25px;
    }
    #contact{
        width: 70%;
        height: 70vh;
        margin:auto;
    }
    #contact h1{
        text-align: center;
    }
    #inp1{
        width: 45%;
        height: 10vh;
        float: left;
        margin-top: 30px;
    
    }
    #inp2{
        width: 45%;
        height: 10vh;
        float: right;
        margin-top: 30px;
    
    }
    #inp1 input{
        width:100%;
        height: 40px;
        padding: 10px;
    }
    #inp2 input{
        width:100%;
        height: 40px;
        padding: 10px;
    }
    textarea{
        width: 100%;
        margin-top: 20px;
        padding: 12px;
    }
    .btn1{
        width: 20%;
        height: 40px;
        background-color: rgb(31,63,105);
        color:white;
        outline: none;
        border: none;
        border-radius: 60px;
        margin-right: 20px;
        font-weight: bold;
    
    }
}

@media only screen and (max-width:720px){
    ul{
        list-style-type: none;
        margin:0;
        padding:0;
        overflow: hidden;
        background-color: white;
        padding-right: 50px;
    }
    li{
        float:right;
    }
    li a{
        display: block;
        color: teal;
        text-align: center;
        padding:14px 16px;
        text-decoration: none;
    
    }
    li a:hover{
        background-color: #111;
        color: white;
    }
    #logo{
        float: left;
        padding: 10px 50px;
    }
    .container{
        background: url(./appcopy.jpg)no-repeat;
        background-size: 100% 100%;
        width: 100%;
        height: 90vh;
        
    }
    .container p{
        text-align:center;
        padding-top: 100px;
        font-size: 2.3rem;
        color: rgb(31,63,105);
        font-family: Arial, Helvetica, sans-serif;
    }
    #para{
        width: 100%;
        height: 100vh;
        display: block;
        margin-top: 50px;
        justify-content: center;
    }
    #para-1{
        width: 100%;
        height: 40vh;
        text-align: center;
        font-size: 1.3rem;
    }
    #para-2{
        width: 100%;
        height: 40vh;
        font-size: 1.3rem;
        color:grey;
        text-align: center;
    
    }
    #feature{
        width:100%;
        height: 100vh;
        text-align: center;
        justify-content: center;
    }
    #finside{
        width:100%;
        height: 100vh;
        text-align: center;
        justify-content: center;
        display: block;
    }
    #f1{
        width: 70%;
        height: 35vh;
        display:inline-block;
        margin: 5px 0px;
        text-align: center;
        color:white;
        padding: 25px 20px;
        background-color: rgb(31,63,105);
    }
    #f1 h2{
        padding-bottom: 15px;
    }
    #icon{
        width: 50px;
        height: 50px;
        margin: auto;
        border-radius: 50%;
        background-color: tomato;
        color:white;
        padding: 10px;
        font-size: 20px;
        margin-bottom: 15px;
    }
    #video{
    
        width: 100%;
        height: 60vh;
        margin-top: 60px;
    }
    #video img{
    
        width: 100%;
        height: 60vh;
        
    }
    #work{
        width: 100%;
        height: 70vh;
        /* display: block; */
        margin-top: 50px;
        /* justify-content: center; */
    }
    #chal{
        width: 50%;
        height: 70vh;
        
    }
    #sol{
        width: 50%;
        height: 70vh;
        
        margin-left: 20px;
    }
    #more{
        width: 100%;
        height: 100vh;
        text-align: center;
        justify-content: center;
    }
    #sec{
        width: 100%;
        height: 100vh;
        text-align: center;
        display: block;
        justify-content: center;
    }
    #m1{
        width: 70%;
        height: 33vh;
        margin: 0 15px;
        display: inline-block;
        text-align: center;
        
    }
    #m1 .fas,.fab{
        font-size: 40px;
        color: rgb(248,40,137);
        padding-bottom: 20px;
    }
    #blog{
        width: 100%;
        height: 100vh;
        text-align: center;
        justify-content: center;
    }
    #post{
        width: 100%;
        height: 55vh;
        text-align: center;
        justify-content: center;
        display: block;
        margin-bottom: 170px;
    }
    #post1{
        width: 25%;
        height: 40vh;
        margin: 0 15px;
        display: inline-block;
        padding: 30px 5px;
    }
    #post1 img{
    width: 95%;
    height: 30vh;
    margin-bottom: 10px;
    }
    .btn{
        width: 15%;
        height: 40px;
        background-color: rgb(31,63,105);
        color:white;
        outline: none;
        border:none;
        border-radius: 60px;
        font-weight: bold;
        margin-top: 25px;
    }
    #contact{
        width: 80%;
        height: 70vh;
        margin:auto;
    }
    #contact h1{
        text-align: center;
    }
    #inp1{
        width: 45%;
        height: 10vh;
        float: left;
        margin-top: 30px;
    
    }
    #inp2{
        width: 45%;
        height: 10vh;
        float: right;
        margin-top: 30px;
    
    }
    #inp1 input{
        width:100%;
        height: 40px;
        padding: 10px;
    }
    #inp2 input{
        width:100%;
        height: 40px;
        padding: 10px;
    }
    textarea{
        width: 100%;
        margin-top: 20px;
        padding: 12px;
    }
    .btn1{
        width: 20%;
        height: 40px;
        background-color: rgb(31,63,105);
        color:white;
        outline: none;
        border: none;
        border-radius: 60px;
        margin-right: 20px;
        font-weight: bold;
    
    }
}

@media only screen and (max-width:540px)
{

    ul{
        list-style-type: none;
        margin:0;
        padding:0;
        overflow: hidden;
        background-color: white;
        padding-right: 50px;
    }
    li{
        float:right;
    }
    li a{
        display: block;
        color: teal;
        text-align: center;
        padding:14px 16px;
        text-decoration: none;
    
    }
    li a:hover{
        background-color: #111;
        color: white;
    }
    #logo{
        float: left;
        padding: 10px 5px;
    }
    .container{
        background: url(./appcopy.jpg)no-repeat;
        background-size: 100% 100%;
        width: 100%;
        height: 90vh;
        
    }
    .container p{
        text-align:center;
        padding-top: 100px;
        font-size: 1.3rem;
        color: rgb(31,63,105);
        font-family: Arial, Helvetica, sans-serif;
    }
    #para{
        width: 100%;
        height: 100vh;
        display: block;
        margin-top: 50px;
        justify-content: center;
    }
    #para-1{
        width: 100%;
        height: 45vh;
        text-align: center;
        font-size: 1.3rem;
    }
    #para-2{
        width: 100%;
        height: 45vh;
        font-size: 1.3rem;
        color:grey;
        text-align: center;
    
    }
    #feature{
        width:100%;
        height: 100vh;
        text-align: center;
        justify-content: center;
    }
    #finside{
        width:100%;
        height: 100vh;
        text-align: center;
        justify-content: center;
        display: block;
    }
    #f1{
        width: 70%;
        height: 35vh;
        display:inline-block;
        margin: 5px 0px;
        text-align: center;
        color:white;
        padding: 25px 20px;
        background-color: rgb(31,63,105);
    }
    #f1 h2{
        padding-bottom: 15px;
    }
    #icon{
        width: 50px;
        height: 50px;
        margin: auto;
        border-radius: 50%;
        background-color: tomato;
        color:white;
        padding: 10px;
        font-size: 20px;
        margin-bottom: 15px;
    }
    #video{
    
        width: 100%;
        height: 60vh;
        margin-top: 60px;
    }
    #video img{
    
        width: 100%;
        height: 60vh;
        
    }
    #work{
        width: 100%;
        height: 70vh;
        /* display: block; */
        margin-top: 50px;
        /* justify-content: center; */
    }
    #chal{
        width: 50%;
        height: 70vh;
        
    }
    #sol{
        width: 50%;
        height: 70vh;
        
        margin-left: 20px;
    }
    #more{
        width: 100%;
        height: 100vh;
        text-align: center;
        justify-content: center;
    }
    #sec{
        width: 100%;
        height: 100vh;
        text-align: center;
        display: block;
        justify-content: center;
    }
    #m1{
        width: 70%;
        height: 33vh;
        margin: 0 15px;
        display: inline-block;
        text-align: center;
        
    }
    #m1 .fas,.fab{
        font-size: 40px;
        color: rgb(248,40,137);
        padding-bottom: 20px;
    }
    #blog{
        width: 100%;
        height: 100vh;
        text-align: center;
        justify-content: center;
        margin-bottom: 350px;
    }
    #post{
        width: 100%;
        height: 55vh;
        text-align: center;
        justify-content: center;
        display: block;
        margin-bottom: 210px;
    }
    #post1{
        width: 25%;
        height: 40vh;
        margin: 0 15px;
        display: inline-block;
        padding: 30px 5px;
    }
    #post1 img{
    width: 95%;
    height: 30vh;
    margin-bottom: 10px;
    }
    .btn{
        width: 15%;
        height: 40px;
        background-color: rgb(31,63,105);
        color:white;
        outline: none;
        border:none;
        border-radius: 60px;
        font-weight: bold;
        margin-top: 25px;
    }
    #contact{
        width: 90%;
        height: 70vh;
        margin:auto;
    }
    #contact h1{
        text-align: center;
    }
    #inp1{
        width: 45%;
        height: 10vh;
        float: left;
        margin-top: 30px;
    
    }
    #inp2{
        width: 45%;
        height: 10vh;
        float: right;
        margin-top: 30px;
    
    }
    #inp1 input{
        width:100%;
        height: 40px;
        padding: 10px;
    }
    #inp2 input{
        width:100%;
        height: 40px;
        padding: 10px;
    }
    textarea{
        width: 100%;
        margin-top: 20px;
        padding: 12px;
    }
    .btn1{
        width: 20%;
        height: 40px;
        background-color: rgb(31,63,105);
        color:white;
        outline: none;
        border: none;
        border-radius: 60px;
        margin-right: 20px;
        font-weight: bold;
    
    }
}